[prefs]
runLog:
  type: file
  path: /var/log/jobber-runs
  maxLen: 30
  maxHistories: 2

[jobs]
- name: borgmatic
  cmd: borgmatic -c /borgmatic/config.yaml
  time: '0 0 */1'  # hourly on the hour
  onError: Backoff
